$sidebar-background-dark: #23242b;
$sidebar-background-light: #f5f7fb;

$main-background-dark: #2b2c37;
$main-background-light: #f9f9f9;

$text-color-dark: #ffffff;
$text-color-light: #596175;

$sidebar-icon-dark: #07afc8;
$sidebar-icon-light: #508ace;

$secondary-color: #76899b;