@import './src/scss/utils/extends';

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 60px;
  border: 1px solid red;
}

.list {
  @extend %reset-list;
  display: flex;
}

.item {
}

.button {
}