@import '../../../scss/utils/variables';

.addTaskBlock {
  border-radius: 10px;
  padding: 20px;
}

.addTaskBlockDark {
  background-color: $sidebar-background-dark;
}

.addTaskBlockLight {
  background-color: #eef2f9;
}

.firstRow {
  display: flex;
}

.secondRow {
  display: flex;
}

.select {
}

:global(.textarea) {
  width: 100%;
  outline: none;
  resize: none;
  overflow: hidden;
  background-color: inherit;
  border: 0;
}

:global(.textareaColorLight) {
  color: $text-color-light;
}

:global(.textareaColorDark) {
  color: $text-color-dark;
}