@import '../../../scss/utils/variables';

.addTaskBlock {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  border-radius: 10px;
  padding: 20px;

  .firstColumn {
    display: flex;

    .dateBtn {
      color: #fff;
      padding: 10px 16px;
      border: 0;
      border-radius: 5px;
      cursor: pointer;
    }

    .dateBtnDark {
      background-color: #4f6d7f;
    }

    .dateBtnLight {
      background-color: #508ACEFF;
    }

    .dateBtns {
      position: relative;
    }

    .dateCalendar {
      position: absolute;
    }
  }
}

.addTaskBlockDark {
  background-color: $sidebar-background-dark;
}

.addTaskBlockLight {
  background-color: #eef2f9;
}

.secondRow {
  display: flex;
  align-items: center;

  .iconPlus {
    font-size: 35px;
  }
}

:global(.dateFormatDark) {
  color: #fff;
}

:global(.dateFormatLight) {
  color: #596175;
}