.select {
  border: 0;
  outline: none;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  padding: 8px;

  option {
    color: #fff;
    margin-bottom: 10px;
  }
}

.selectDark,
.optionDark{
  background-color: #4f6d7f;
}

.selectLight,
.optionlight {
  background-color: #508ACEFF;
}