.select {
  margin-right: 10px;
  border: 0;
  outline: none;
  cursor: pointer;
  background-color: #4f6d7f;
  color: #fff;
  border-radius: 5px;
  padding: 8px;

  option {
    background-color: #4f6d7f;
    color: #fff;
    margin-bottom: 10px;
  }
}