@import './src/scss/utils/variables';

.textarea {
  width: 100%;
  outline: none;
  resize: none;
  overflow: hidden;
  background-color: inherit;
  border: 0;
}

.textareaColorLight {
  color: $text-color-light;
}

.textareaColorDark {
  color: $text-color-dark;
}