@import './src/scss/utils/variables';
@import './src/scss/utils/extends';

.sidebar {
  height: 100vh;
}

.sidebarBackgroundDark {
  background-color: $sidebar-background-dark;
}

.sidebarBackgroundLight {
  background-color: $sidebar-background-light;
}

.list {
  @extend %reset-list;
  padding: 16px;
}

.item {
  padding: 10px;
  white-space: nowrap;
  border-radius: 5px;
}

.itemHoverDark:hover {
  background-color: #76899b;
}

.itemHoverLight:hover {
  background-color: #fff;
}

.linkColorDark {
  color: $text-color-dark;
}

.link {
  text-decoration: none;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

:global(.linkColorLight) {
  color: $text-color-light;
}

:global(.linkColorDark) {
  color: $text-color-dark;
}

