@import './scss/utils/variables';
@import './scss/utils/extends';

.app-wrapper {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.main-content {
  width: 100%;
  padding: 0 16px 16px 16px;
  position: relative;

  .emptyMessage {
    @extend %absolute-center;
  }
}

.main-content-dark {
  background-color: $main-background-dark;
}

.main-content-light {
  background-color: $main-background-light;
}