@import './scss/utils/variables';

.main-container {
  display: flex;
}

.main-content {
  width: 100%;
}

.main-content-dark {
  background-color: $main-background-dark;
}

.main-content-light {
  background-color: $main-background-light;
}